{% extends 'conteudos/base.html' %} {% load static %} {% block content %} {% load conteudo_extras %}

<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">xxxxxxxx</h2>
                    <h3 class="section-subheading text-muted" style="background-color:transparent">xxxxxxxxxxxxxxxxxxxxx}</h3>
                </div>
            </div>
        </div>
    </section>

<section id="stats">


<div class="container">
	<div class="row">
            {% for tipo, quantidade in valores.items %}
            <div class="col-md-4">
                <!-- <div class="hero-widget well well-sm" style="background-color: {{cores|random}};"> -->
                <div class="hero-widget well well-sm" style="">
                <div>
                    <img src='{{quantidade.1}}' style="height:130px;" />
                </div>
                <br>
                <div class="text">
                    <var>{{ quantidade.0 }}</var>
                    <label class="text-muted">{{ tipo }}</label>
                </div>
                <div class="options">
                    {% for l in t %}
                        {% if l.tipo == tipo %}
                            <a href="{% url 'tipo' l.id %}" class="btn btn-primary btn-lg">Saiba mais </a>
                        {% endif %}
                    {% endfor %}
                </div>
                </div>
            </div>
        {% endfor %}

  	</div>
</div>
</section>

{% endblock %}