{% extends 'conteudos/base.html' %} {% load static %} {% block content %}
{% load conteudo_extras %}

<!-- Inicio da section Serviço -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ tema }}</h2>
                <h3 class="section-subheading text-muted">Materiais didáticos para sensibilizar e conscientizar sobre todo o ecossistema ambiental. </h3>
                <embed src="https://www.youtube.com/embed/{{ tema.video_tema_id }}" allowfullscreen="true" width="400px" height="300px">
            </div>
           
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        {% for k, v in tipo.items %}
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="card text-center">
                <div class="card-header"></div>
                <div class="text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5"> {{ k }}</h2>
                        <!--<p class="lead">xxxxxxxxxxx</p> -->
                        <a href="{% url 'tema-tipo' x v %}"><img class="card-img-top portfolio-hover" src="/static/img/{{tipo_img|get_item:k }}" style=" height: 60%; width: 60%;"  alt="Imagem Material" href="{% url 'tema-tipo' x v %}">
                       </a>
                    </div>
                </br>
            </br>
                  <!--  <div>
                        <a href="{% url 'tema-tipo' x v %}" class="btn btn-primary">Acesse</a>
                    </div> -->
                    
                </br>
                </div>
            </div>
        </div>


        

        {% endfor %}

    </div>
</div>
    <br>
    <br> {% endblock %}