{% extends 'conteudos/base.html' %} {% load static %} {% block content %} {% load conteudo_extras %}

<!-- Inicio da section Serviço -->
<section id="services_container_imagem" style="background-image: url(/static/img/{{tema.img_tema}}); ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ tema }}</h2>
               
                    <br>
                    <br>
                
                <h3 class="section-subheading_text-muted3" style="background-color:transparent">{{tema.subtema}}</h3>
                <div class="intro-heading">
                        <a href="#" data-toggle="modal" class="btn btn-xl" data-target="#verovideo">  <img src="/static/img/icones_Play1.png" style="width: 30px;">     Assista ao vídeo </a>
                </div>

                <div class="intro-heading">
                        <div class="cs-org-header-arrow--text"></div>
                            <a href="#bot">
                                <img src="/static/img/icones-Scroll.png" style="width: 40px;">
                            </a>
                    </div>

                <!-- Inicio Modal -->
                <div class="modal fade" id="verovideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ tema }}</h4>
                      </div>
                      <div class="modal-body" style="text-align:center;">
                                 {% if site == 'youtube' %}
                                 <embed src="https://www.youtube.com/embed/{{ vid }}" allowfullscreen="true" width="400px" height="300px"> {% else %}
                                 <iframe src="https://player.vimeo.com/video/{{ vid }}?loop=1&autopause=0" width="500" height="281" frameborder="0" webkitallowfullscreen
                                  mozallowfullscreen allowfullscreen></iframe>
                                {% endif %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Final Modal -->

            </div>

        </div>
    </div>
</section>
<br>

<div class="container" id="bot">
    <div class="row">
        {% for k, v in tipo.items %}
        <div class="col-lg-3 col-md-3 col-xs-6">
            <div class="card text-center">
                <div class="card-header"></div>
                <div class="text-center overflow-hidden">
                    <div class="my-3 p-3" style="width:100%; height:210px;">
                        <h2 class="display-5"> {{ k }}</h2>
                        </br>
                        </br>
                        <!--<p class="lead">xxxxxxxxxxx</p> -->
                        <a href="{% url 'tema-tipo' x v %}">
                            <!-- <i class="{{tipo_img|get_item:k }} fa-5x" aria-hidden="true" class="img-circle img-responsive" alt="Resultado de imagem para combo1"
                                title="Resultado de imagem para combo1"></i>-->
                            <img class=" img.padrao" src="{{tipo_img|get_item:k }}" style="height:100px;">
                        </a>
                    </div>
                    </br>
                    </br>
                    <!--  <div>
                        <a href="{% url 'tema-tipo' x v %}" class="btn btn-primary">Acesse</a>
                    </div> -->

                    </br>
                </div>
            </div>
        </div>




        {% endfor %}

    </div>
</div>
<br>
<br> {% endblock %}