{% extends 'conteudos/base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>

 <!-- Inicio da section Serviço -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 id="cardapios" class="section-heading">{{ tema }}</h2>
                    <h3 class="section-subheading text-muted">Materiais didáticos para sensibilizar e conscientizar sobre todo o ecossistema ambiental. </br></h3>
                    <video width="320" height="240" controls>
                            <source src="/assets_tutorials/media/Shaun-the-Sheep-The-Movie-Official-Trailer.mp4" type="video/mp4">
                            <source src="/assets_tutorials/media/Shaun-the-Sheep-The-Movie-Official-Trailer.ogg" type="video/ogg">
                          </video>
                </div>
            </div>
        </div>
    </section>
        <div class="container">
            <div class="row">
                {% for material in materiais %}
                <div class="col-md-4">

                    <div class="card border-primary">
                       <img class="card-img-top" src="{{material.imagem_capa}}" style="width: 100%;" alt="Card image cap">
                        <div class="card-header">
                            <h4 class="card-title ">{{ material.titulo }}</h4>
                        </div>
                        <div class="card-body">
                              <p class="card-text" align="justify">{{ material.desc }}</p>
                            <p>{{ material.tags }}</p>
                        </div>
                        <div class="card-footer" style="text-align:center">
                            <a href="{{ material.link }}" class="btn btn-success">Visualizar</a>
                            <a href="{{ material.link_venda }}" class="btn btn-primary">Comprar</a></center>
                        </div>
                    </br>
                </br>
                
                    </div>
                </div>
            
                {% empty %}
                {% endfor %}
                
            </div>
        </div>
  


{% endblock %}